{% extends "base.html" %}

{% block title %}
    {{ game }}
{% endblock title %}


{% block content %}
    <h3>{{ game }} -- {{ request.user }}</h3>
    <div class="row">
        <form action="" method="post">
            {% csrf_token %}
            {% if game.deck_index <= 0 %}
                <button type="submit" name="prepare" value="ok">Prepare game</button>
            {% else %}
                <button type="submit" class="btn btn-primary" name="switch" value="ok">switch hands</button>
            {% endif %}
        </form>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h4>Player 1</h4>
            <h5>hand</h5> {% include "gamesrv/card_list_snippet.html" with  cards=game.player_1_hand %}
            <h5>table</h5> {% include "gamesrv/card_list_snippet.html" with  cards=game.player_1_table %}
        </div>
        <div class="col-sm-4">
            <h4>Deck</h4>
            {% include "gamesrv/card_list_snippet.html" with  cards=game.drafted_deck %}
            <h4>Discard</h4>
        </div>
        <div class="col-sm-4">
            <h4>Player 2</h4>
            <h5>hand</h5> {% include "gamesrv/card_list_snippet.html" with  cards=game.player_2_hand %}
            <h5>table</h5> {% include "gamesrv/card_list_snippet.html" with  cards=game.player_2_table %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Card</h4>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Play card</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).on('click', '.card_link', function (e) {
         e.preventDefault();
        url = $(this).attr("href");
        $('#myModal').modal('toggle');

        $.ajax({
          type: "GET",
          url: url,
          success: function (result) {
            $('.modal-body').html(result);
          },
        });
      });
    </script>

{% endblock content %}
