{% extends "base.html" %}

{% block title %}
    Tides game: {{ game.player_1 }} vs. {{ game.player_2 }}
{% endblock title %}


{% block content %}
    <h3>{{ game }}</h3>
    <div class="col-sm-4">
    DECK
        <ul>
            {% for card in game.deck.all %}
                <li>
                    <a
                            {% if forloop.counter < game.deck_index %}
                                style="text-decoration: line-through"
                            {% endif %}
                            href="{{ card.pk }}">{{ card }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-4">
        My HAND
        <ul>
            {% for card in game.get_my_hand %}
                <li>
                    <a href="{{ card.pk }}">{{ card }}</a>
                </li>
            {% endfor %}
        </ul>
        My TABLE
        <ul>
            {% for card in game.get_my_table %}
                <li>
                    <a href="{{ card.pk }}">{{ card }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
     <div class="col-sm-4">
        Opponent HAND
        <ul>
            {% for card in game.get_opponent_hand %}
                <li>
                    <a href="{{ card.pk }}">{{ card }}</a>
                </li>
            {% endfor %}
        </ul>
         Opponent TABLE
        <ul>
            {% for card in game.get_opponent_table %}
                <li>
                    <a href="{{ card.pk }}">{{ card }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
